@use 'src/styles/variables' as vars;

.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
  padding: 16px;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.mobileColumn {
  flex-direction: column;
}

@media (min-width: 768px) {
    .mobileColumn {
        flex-direction: row;
    }
}

.container {
  display: flex;
  align-items: center;
}

.containerDecoration {
  background-color: var(--background-gray);
  height: 50px;
  justify-content: center;
  text-overflow: clip;
  container-type: inline-size;
  font-size: 12px;
}